# Python cache
__pycache__/
*.py[cod]

# Ambiente virtual
venv/
.venv/

# Variáveis de ambiente
.env
.env.*

# Banco de dados
*.db
*.sqlite3

# Arquivos JSON de dados (opcional)
*.json

# IDEs
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db

# Logs
*.log
*.pyc